#body{
    background-color: silver;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    padding: 10px;
}
.h1_dataKamar, .h1_Fasilitas{
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
td{
    height: 40px;
}
img{
    width: 190px;
    height: 140px;
    border-style:solid;
}
.label1, .label2{
    margin-left: 140px;
}
.input{
    background: blue;
    color: white;
    font-weight: bold;
}
.batal{
    background-color: yellow;
    color: black;
    font-weight: bold;
}
button{
    padding: 5px;
}
